body{
  font-family: 'Merriweather Sans', sans-serif;
  font-size: large;
  margin: 2em 2em;
  background-color: #D7EAEA;
}

header{
  color:  coral;
  text-align: center;
}

a{
  color: blue;
}
.main{
  border-radius: 25px;
  background-color: #acdbdf;
  margin: 2em 2em;
  max-width: 1240px;
  justify-content: center; 
  
}

.flex-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}

.imgwrap{
  
  min-width: 0;
  margin: 2em 2em;
}

img {
  border-radius: 25px;
  width: 350 px;
  max-width: 100%; /*actual image width*/
  max-height: 350; /* maintain aspect ratio*/
}

footer{
  text-align: center;
  margin: 2em 2em;
}